body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	line-height: 1.6;
	color: #656363;
	background-color: #fdfdfd;
}
* , *:after , *:before{
 	box-sizing: border-box;
}

 h1, h2 , h3 , h4 ,h5, h6{
	margin: 0;			
}

a{
	text-decoration: none;
}

.container{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}


			/*Header*/

header{
	width: 100%;
	height: 100vh;
	
}

.header_billboard{
	height: calc(100% - 100px);
	background: url("images/billboard.jpg") center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;

	position: relative;

}


			/*NAV*/
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_main{
	height: 100px;
	display: flex;
	align-items: center;
}

.nav_item_logo{
	font-size: 20px;
	font-weight: 700;
	font-family: 'Arial', sans-serif;
	color: #656363;
	border-right: 1px solid #e1e1e1;
	padding: 3px 40px 3px 0;
	transition: color .3s ;
	
}

.nav_item{
	font-size: 16px;
	font-weight: 400 ;
	
	color: #7f7f7f;
	margin-left: 40px;
	border-bottom: 2px solid #FDFDFD;
	transition: .3s linear;
}			

.nav_item:hover{
	border-bottom: 2px solid #95A6FF;
	transition: .4s linear;
	
}

.shopping_cart_cont{
	border-radius: 35%;
	border:2px solid #7f7e7e;
	width: 70px;
	height: 45px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

}

.burger-menu{
	display: none;
}
		/*Billboard*/

.billboard_items{
	width: 550px;
	margin-left: 30px;
	text-transform: uppercase;
	color: white;

	position: absolute;
	left: 50px;
	bottom: 15%;
}	

.billboard_title{
	font-weight: 700;
	font-size: 40px;
}		

.billboard_subtext{
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 7px;
}

.billboard_btn{
	width: 210px;
	height: 55px;
	border-style: none;
	text-align: center;
	background-color: #D4B076;
	color: white;
	font-size: 18px;
	font-weight: 700;
	transition:  .3s linear;
}

.billboard_btn:hover{
	background-color:white;
	color: #65889b;
	transition:  .5s linear;
}

		/*New products*/

.new_products_title{
	margin: 40px auto;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 3px;
	width: 100%;
	max-width: 500px;
	position: relative;

	padding: 0 20px;
}		

.new_products_title:before , .new_products_title:after{
	content: "";
	width: 100%;
	max-width: 175px;
	height: 1px;
	position: absolute;
	border:1px solid #f5f5f5;
	top: 50%;
}

.new_products_title:before{
	left: 0%;
}

.new_products_title:after{
	right: 0%;
}

.products_inner{
	display: flex;
	justify-content: space-between;
}

		/*Products Item*/

.product_item{
	width: 100%;
	max-width: 300px;
	height: 370px;
	border: 4px solid #f7f6f6 ;
}

.product_img{
	width: 100%;
	height: 78%;
}

.product_subtitle{
	font-size: 16px;
	font-family: "OpenSans";
	text-align: center;
	letter-spacing: 3px;
}

.product_price{
	font-size: 18px;
	font-weight: bold;
	font-family: "OpenSans";
	text-align: center;
	margin: 0;

}

			/*Footer*/
		
footer{
	padding-top: 60px;
	background-color: #f8f8f8;
}

.footer_inner{
	display: flex;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
}

.footer_hr{
	width: 100%;
	height: 1px;
	background-color: #f2f1f1;
	margin-top: 60px;
}	

.footer_block_title{
	font-size: 20px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-bottom: 35px;
}			

.our_stores_1{
	font-size: 14px;
	padding:  0;
	margin: 0;
}

.our_stores_2{
	margin: 0;
	margin-top: 35px;
	font-size: 14px;	
}

.bl_post_title{
	margin-top: 30px;
	font-size: 16px;
}

.blog_post_text p{
	padding: 0;
	margin: 0;	
	font-size: 14px;
	width: 100%;
	max-width: 300px;
}

.support p , .about{
	font-size: 14px;
}

.copyrights {
	width: 100%;
	height: 60px;
	font-size: 13px;
	border-top:1px inset white;
	display: flex;
	justify-content: space-between;
	align-items: center;

	
}

.copyrights  p{
	padding: 0;
	margin: 0;
}

.copy__card_item{
	width: 100%;
	max-width: 190px;
	display: flex;
	justify-content: space-between;
}

.copy__card_item img{
	width: 30px;
	height: 20px;
	background-color: #c8c6c6;
}

	/*Responsive Media Queries*/

@media(max-width: 1000px){
	.container{
		width: 95%;
	}

	.nav_main{
		height: 50px;
	}
	.nav_item_logo{
		font-size: 14px;
		padding: 2px 15px 2px 10px;
		border-right: 0px;
		z-index: 35;
	}
	.nav_item{
		display: none;
		font-size: 11px;
		margin-left: 15px;
	}


	.burger-menu{
		display: inline-block;
	}
	.burger-menu__button{
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #95a6ff;
		z-index: 30;
		transition: 0.4s;

	}	

	.burger-menu__button:hover .burger-menu__lines{
		filter: brightness(0.9);
	}

	.burger-menu__lines, 
	.burger-menu__lines:before,
	.burger-menu__lines:after{
		position: absolute;
		width: 20px;
		height: 3px;
		background-color: #fff;
		z-index: 30;
		transition: 0.3s;
	}

	.burger-menu__lines{
		top:calc(50% - 1.5px);
		left:calc(50% - 10px);

	}
	.burger-menu__lines:before{
		content: "";
		top: -6px;
	}
	
	.burger-menu__lines:after{
		content: "";
		top: 6px;
	}
	
	
	.burger-menu__active .burger-menu__lines{
		background-color: transparent;
	}
	

	.burger-menu__active .burger-menu__lines:before{
		top: 0;
		transform: rotate(45deg);
	}


	.burger-menu__active .burger-menu__lines:after{
		top: 0;
		transform: rotate(-45deg);
	}
	
	.burger-menu__nav{
		padding-top: 50px;
		position: fixed;
		z-index: 20;
		top: 0;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		height: 100%;
		background-color: #95a6ff;
		overflow-y: auto;
		left: -100%; 
		transition: 0.5s;
	}
	.burger-menu__active .burger-menu__nav{
		left: 0;
	}
	
	.burger-menu__link:first-child{

		border-top: 2px solid #d4b076;
	
	}
	.burger-menu__link{
		padding: 20px;
		font-family: sans-serif;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: bold;
		color: #fff;
	}

	.burger-menu__link:hover{
		filter: brightness(0.9);
		border-top-color:#d4b076;
	}

	.burger-menu__overlay{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vh;
		height: 100vh;
		z-index: 10;
	}

	.burger-menu__active .burger-menu__overlay{
		display: block;
	
	}









	.shopping_cart_cont{
		width: 20px;
		height: 17px;
		border-width: 2px;
	}	
	.shopping_cart{
		width: 100%;
		height: 100%;
		padding: 2px;
	}

	header{
		height: 40vh;
	}
	.header_billboard{
		height: calc(100% - 50px);
		background: url("images/billboard.jpg") center no-repeat;
		background-size:100% 100%  ;
		margin:0 auto;
		overflow: hidden;

		
	}
	.billboard_items{
		margin-left: 0px;
		left: 14px;
		bottom: 10%;
	}

	.billboard_title{
		font-size: 14px;
		letter-spacing: 0.5px;
	}

	.billboard_subtext{
		font-size: 11px;
		letter-spacing: 1px;
	}

	.billboard_btn{
		width: 120px;
		height: 35px;
		font-size: 12px;
		margin-left: 0px;
		
	}
	.new_products_title{
		margin: 15px auto;
	}
	.new_products_title::before , .new_products_title::after{
		max-width: 100px;
	}

	.products_inner{
		justify-content: center;
		flex-wrap: wrap;
	}

	.product_item{
		width: 50%;
		max-width: 150px;
		height: 180px;
		margin-bottom: 15px;
		margin-right: 15px;	
	}
	.product_subtitle{
		font-size: 7px;
	}
	.product_price{
		font-size:11px;
	}

	footer{
		padding-top: 30px;
	}
	.footer_hr{
		margin-top: 30px;
	}

	.blog_posts{
		display: none;
	}
	.footer_block_title{
		font-size: 13px;
		margin-bottom: 15px;
	}

	.our_stores p, .about p, .support p{
		font-size: 10px;
		line-height: 1;
	}

	.our_stores_2{
		margin-top: 15px;
	}

	.copyrights{
		font-size: 10px;
	}
	.copy__card_item{
		max-width: 100px;
	}
	.copy__card_item img{
		width: 20px;
		height: 15px;
	}


}
@media screen and (min-width: 500px) and  (max-width: 1000px){
	header	{
		height: 100vh;
	}
	.billboard_items{
		left: 25px;
	}
}